
<!DOCTYPE html>
<html lang="fr" style="height:100%">
<head>
<title>
    
        Françoise Durocher, waitress
    
    par
    
        
        André Brassard
     - ONF
</title>
<meta charset="utf-8" />
<meta name="apple-itunes-app" content="app-id=329353638">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/ico"  href="http://media6.onf.ca/medias/favicon.ico" /><link rel="apple-touch-icon" type="image/ico" size="114x114" href="http://media5.onf.ca/medias/apple-touch-icon-114x114.png" /><link rel="apple-touch-icon" type="image/ico" size="72x72" href="http://media4.onf.ca/medias/apple-touch-icon-72x72.png" /><link rel="apple-touch-icon" type="image/ico"  href="http://media3.onf.ca/medias/apple-touch-icon-57x57.png" />
<!--[if IE]><![endif]-->
<link rel="alternate" type="application/rss+xml" title="Ajouts récents" href="/fil-rss/ajouts-recents/" /><link rel="alternate" type="application/rss+xml" title="Bandes-annonces" href="/fil-rss/bandes-annonces/" /><link rel="alternate" type="application/rss+xml" title="Sélections" href="/fil-rss/selections/" />
<meta name="google-site-verification" content="ZnrZRnNYLkxtF-IN6Q02le_U2qyGuh8QxtKYWKPF5Bo" />
<link rel="publisher" href="https://plus.google.com/105847898847039311452" />
<meta name="application-name" content="ONF.ca" /><meta name="msapplication-tooltip" content="Visionner des documentaires et des films d’animation en ligne – ONF.ca" /><meta name="msapplication-navbutton-color" content="#000000" />
<meta name="msApplication-ID" content="Nationalfilmboard-Officen.NFBFilms"/><meta name="msApplication-PackageFamilyName" content="Nationalfilmboard-Officen.NFBFilms_bwkzsd84v83pe"/>

<meta name="dcterms.language" title="ISO639-2" content="fra" />
<meta name="dcterms.issued" title="W3CDTF" content="2008-04-24" />
<meta name="dcterms.modified" title="W3CDTF" content="2009-10-01" />



<meta name="dcterms.title" content="Françoise Durocher, waitress" />
<meta name="dcterms.creator" content="Office national du film du Canada" />
<meta name="description" content="Court métrage de fiction qui projette dans toutes ses nuances la condition de waitress. Être fictif à qui 24 femmes prêtent leur visage, Françoise Durocher possède à la fois les traits de la petite serveuse, de l&#39;hôtesse et de la barmaid. Ensemble, elles donnent, selon l&#39;auteur, une idée de la fille de table québécoise qui, tous les jours, vous sert avec le sourire malgré les ennuis inhérents à son métier et les petits drames à peu près quotidiens qu’elle affronte. Ce film est la première expérience cinématographique du tandem Brassard-Tremblay."/>
<meta name="dcterms.description" content="Court métrage de fiction qui projette dans toutes ses nuances la condition de waitress. Être fictif à qui 24 femmes prêtent leur visage, Françoise Durocher possède à la fois les traits de la petite serveuse, de l&#39;hôtesse et de la barmaid. Ensemble, elles donnent, selon l&#39;auteur, une idée de la fille de table québécoise qui, tous les jours, vous sert avec le sourire malgré les ennuis inhérents à son métier et les petits drames à peu près quotidiens qu’elle affronte. Ce film est la première expérience cinématographique du tandem Brassard-Tremblay."/>
<meta name="keywords" content="Fiction,  André Brassard, " />
<meta name="dcterms.subject" content="Fiction,  André Brassard, " />

<link rel="alternate" type="application/json+oembed" href="http://www.onf.ca/remote/services/oembed/?url=http%3A//www.onf.ca/film/francoise_durocher_waitress/&amp;format=json" title="Françoise Durocher, waitress" />
<link rel="alternate" type="text/xml+oembed" href="http://www.onf.ca/remote/services/oembed/?url=http%3A//www.onf.ca/film/francoise_durocher_waitress/&amp;format=xml" title="Françoise Durocher, waitress" />
<link rel="image_src" href="http://media1.nfb.ca/medias/nfb_tube/thumbs_large/2011/Francoise_Durocher_waitress_-_tv-_grande.jpg" />
<link rel="video_src" href="http://www.onf.ca/medias/flash/NFBVideoPlayer.swf?configURL=http://www.onf.ca/film/francoise_durocher_waitress/player_config&embedMode=true&user=facebook&referer=facebook" />


<meta name="video_height" content="337" />
<meta name="video_width" content="516" />
<meta name="video_type" content="application/x-shockwave-flash" />

<meta property="og:title" content="Françoise Durocher, waitress" />
<meta property="og:type" content="movie" />
<meta property="og:site_name" content="NFB.CA" />
<meta property="og:description" content="Court métrage de fiction qui projette dans toutes ses nuances la condition de waitress. Être fictif à qui 24 femmes prêtent leur visage, Françoise Durocher possède à la ... &mdash; Visionnez plus de 1000 films sur notre page Facebook. http://www.facebook.com/onf.ca" />

<meta property="og:video" content="http://www.onf.ca/medias/flash/NFBVideoPlayer.swf?configURL=http://www.onf.ca/film/francoise_durocher_waitress/player_config&embedMode=true&user=facebook&referer=facebook" />
<meta property="og:video:width" content="516" />
<meta property="og:video:height" content="337" />
<meta property="og:video:type" content="application/x-shockwave-flash" />


<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@onf">
<meta name="twitter:url" content="http://www.onf.ca/film/francoise_durocher_waitress">
<meta name="twitter:title" content="Françoise Durocher, waitress">
<meta name="twitter:description" content="Court métrage de fiction qui projette dans toutes ses nuances la condition de waitress. Être fictif ...">
<meta name="twitter:image" content="http://media1.nfb.ca/medias/nfb_tube/thumbs_large/2011/Francoise_Durocher_waitress_-_tv-_grande.jpg">
<meta name="twitter:player" content="https://www.onf.ca/film/francoise_durocher_waitress/embed/player">
<meta name="twitter:player:width" content="512">
<meta name="twitter:player:height" content="288">





<link rel="stylesheet" type="text/css" media="all" href="http://www.onf.ca/ressource_cache/css/csscache_2013-04-05_5c2f8a5f52b28501e9b6cdb166c92750" />


<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->




<link rel="stylesheet" type="text/css" media="all" href="http://media2.onf.ca/medias/nfb_tube_static/styles/css/norm-thumbnail.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://media1.onf.ca/medias/nfb_tube_static/styles/c/board-ui-comments.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://media6.onf.ca/medias/nfb_tube_static/styles/c/board-ui-tabs.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://media5.onf.ca/medias/nfb_tube_static/styles/c/board-film.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://media4.onf.ca/medias/nfb_tube_static/styles/c/board-ui-share-panel.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://media3.onf.ca/medias/nfb_tube_static/styles/c/btrd-modal-windows.css" />


<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" media="all" href="http://media6.onf.ca/medias/nfb_tube_static/styles/c/board-ie-fix.css" />

<link rel="stylesheet" type="text/css" media="all" href="http://media5.onf.ca/medias/nfb_tube_static/styles/c/board-ie-fix-film-page.css" />


<![endif]-->




<!--[if lt IE 10]>
<script type="text/javascript">
// dummy console for problematic IE
var console = {};
console.log = function(){}
</script>
<![endif]-->




    
<script src="http://media1.nfb.ca/medias/nfb_tube_static/js/ga/django-advanced-google-analytics.js"></script>
<script type="text/javascript">
  
  var ga_account = "UA-32257069-1";
  
  var _gaq = _gaq || [];

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    Analytics.init(_gaq, {account:ga_account});

    
      Analytics.push(_gaq, {"name_label": null, "type": "mediaCustom", "virtual_path": null});
    
  })();
</script>




<script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "6035506", c3: "", c4: "" });
    ( function () {
    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true; s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js"; el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035506&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
</noscript>





</head>
<body>

<style type="text/css">
    #iframePlayer {
        position:relative;
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        background:#000;
    }

    #couchMode {
        position:absolute;
        z-index:2;
        bottom:25px;
        right:140px;
        background:#333;
        padding:5px 10px;
        color:#999;
        text-decoration:none;
        font-size:14px;
    }

    #couchMode:hover {
        color:#fff;
    }
</style>

<iframe src="about:blank" id="iframePlayer" frameborder="0" style="display:none;"></iframe>


<div class="master-wrap">

<div class="board-header top-wraper" role="banner">
    
            





<div class="site-header">
    <div class="onfb-logo">
            <object class="logo-image" data="/medias/nfb_tube_static/medias/images/ONF_Logo_hor_blanc_sm-b.svg" type="image/svg+xml"  width="74" height="36"  >
                <a href="/" title="Office national du film du Canada"><img src="http://media4.onf.ca/medias/nfb_tube_static/medias/images/NFB-ONF_logo.png" class="ie-png onfb-logo" alt="Office national du film du Canada" width="74" height="36" /></a>
            </object>

    </div>


    <div class="topnav-menu">
        <div class="top-search" role="search">
            <form name="gs" method="get" action="/recherche">
                <input id="id_search_box" name="q" type="text" accesskey="4" tabindex="1" size="32" title="Recherche" maxlength="256" placeholder="Recherche beta" value="" />
                <input id="id_search_button" type="submit" name="btnG" tabindex="2" style="display:none;"  value="Recherche" />
                
            </form>
        </div>
        <a class="menu-switch" href="#compactnav">&equiv;</a>
        <div id="compactnav" role="navigation" class="site-nav">
            <ul class="main-menu wrap-menu">
                <li class="dd"><a href="/explorer-les-films-recents?filter_choices=30">Films</a>
                    <ul class="dd-menu">
                        <li><a href="/chaines/" title="Explorez les chaînes de lONF">Chaînes</a></li>
                        <li><a href="/selections/" title="Explorez les sélections de lONF">Sélections</a></li>
                        <li><a href="/explorer-tous-les-films/" title="Explorez tous nos films">Explorez</a></li>
                    </ul>
                </li>
                <li class=""><a href="/interactif/" title="ONF/interactif">Interactif</a></li>
                <li class=""><a href="/education/" title="ONF/Éducation">Éducation</a></li>
                <li class="dd "><a href="/boutique-numerique/" title="ONF/boutique numérique">Boutique</a>
                    <ul class="dd-menu">
                        <li><a href="/boutique-numerique/" title="ONF/boutique numérique">Boutique numerique</a></li>
                        <li><a href="http://www3.onf.ca/boutique">Boutique DVD</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="lang-menu wrap-menu">
                
                    <li class=""><a href="http://www.nfb.ca/film/francoise_durocher_waitress/" lang="en" title="Visit NFB.ca">English</a></li>
                
            </ul>

             <ul class="account-menu wrap-menu">
                
                <li><a href="/member/login/?next=/membre/nouveau/" class="" id="ulogin" name="header_member_signin" title="Déconnexion de votre compte" rel="nofollow">Connexion</a></li>
    
                
    
                

                
            </ul>

            <p class="menu-switch-off"><a href="#norm-hd" rel="nofollow"><em> &otimes; fermer le menu</em></a></p>
        </div>

    </div>
</div>
    
</div>





    <div id="norm-dk" class="deck norm-deck">
        
        
    </div>



    <div class="board-body top-wraper">
        
        
<div class="thepage clearfix">

    <div class="bin header-bin">




    <h1 class="title">
        
            Françoise Durocher, waitress
        
    </h1>
    
        
    
    
    
    
        





<ul class="credits">
<li>

    
    
    

        
        <span itemprop="director" itemscope itemtype="http://schema.org/Person">
        <a href="/explorer-tous-les-cineastes/andre-brassard/" title="plus de films par  André Brassard" itemprop="url" target="_parent">
        <em itemprop="name">André Brassard</em></a></span>, 
        
    

    

</li>
<li>
<span itemprop="datePublished" datetime="1972" target="_parent">1972</span>, 

</li>
<li><span class="duree" itemprop="duration" datetime="PT00:29:01">29 min 1 s</span</li>
</ul>


    

    </div>


    <div class="bin video-bin" style="position:relative;">
        
        <a href="#" id="couchMode">Mode télécommande</a>

    <iframe id="experiment" src="http://www.onf.ca/film/francoise_durocher_waitress/embed/player?player_mode=&embed_mode=0&context_type=film" width="100%" height="288px"></iframe>

    </div>

    <div class="bin premium-bin">
        


<div class="poster"><img src="http://media6.nfb.ca/medias/nfb_tube/jackets/francoise_durocher_waitress.jpg" alt="" itemprop="image" /></div>


        <ul class="clearfix buyables">

            
            <li><a href="#" id="modal-buy-btn" class="bouton" title="Achetez en DVD" onclick="$(this).modalFormSubmitJSON({href:'/remote/partial/buy/23623/?state=modal', send_type:'get'});return false;">Achetez en DVD</a></li>
            
        






        

            
            <li><a id="download_product_link" href="/film/francoise_durocher_waitress/telechargement/" class="bouton" title="Achetez la version numérique">Téléchargez</a></li>
            
            
        

        </ul>
    </div>
    <div class="bin-group bin-group-b" ng-app=FilmApp>
        <div class="bin social-bin" ng-controller="SizeCtrl">
            <h2>Share this</h2>

            <a href="http://twitter.com/share?url=http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel&via=onf&text=Françoise Durocher, waitress" class="bouton bouton-square twitter-btn" title="" onclick="_gaq.push(['_trackSocial', 'Twitter', 'tweet', 'http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel', '/film/francoise_durocher_waitress/?hpf=carrousel']);return true;"><i></i></a>
            <a href="http://www.facebook.com/share.php?u=http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel&t=Françoise Durocher, waitress&title=Françoise Durocher, waitress" class="bouton bouton-square facebook-btn" title="" onclick="_gaq.push(['_trackSocial', 'Facebook', 'send', 'http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel', '/film/francoise_durocher_waitress/?hpf=carrousel']);return true;"><i></i></a>
            <a href="https://plus.google.com/share?url=http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel&title=Françoise Durocher, waitress" class="bouton bouton-square gplus-btn" title="" onclick="_gaq.push(['_trackSocial', 'google+', 'plus', 'http://www.onf.ca/film/francoise_durocher_waitress/?hpf=carrousel', '/film/francoise_durocher_waitress/?hpf=carrousel']);return true;"><i></i></a>



            <a href="#temp-share-panel" id="share-panel" class="bouton bouton-bleu bouton-toggle" title="" >< / ></a>
            <div class="share-options" style="display: none;">
                
                <div class="share-option">
                    <h3>Ajoutez ce code a votre site </h3>
                    <div>
                        <textarea onclick="$(this).select();" readonly="readonly">
<iframe src="http://www.onf.ca/film/francoise_durocher_waitress/embed/player" width="(( width ))" height="(( height ))" ></iframe>
<p style="width:(( width ))px"><a href="http://www.onf.ca/film/francoise_durocher_waitress/" target="_blank"><em>Fran&#231;oise Durocher, waitress</em></a> par <a href="http://www.onf.ca/explorer-tous-les-cineastes/andre-brassard/" title="plus de films par  Andr&#233; Brassard" target="_blank">Andr&#233; Brassard</a>, <a href="http://www.onf.ca" target="_blank">Office national du film du Canada</a></p>

                        </textarea></div>
                    <p>Video player width : <span class="f-size"><input value="(( width ))" size="3" maxlength="4" ng-model="width"> by (( height ))</span> <a class="reset" ng-click="ResetEmbed()" >Reset</a></p>
                </div>
            </div>

            
                
            




        </div>

        <div class="bin copy-bin">



            <div class="asset-detail"></div>

            <div id="tabs" class="tabs">
                <ul>
                    <li><a href="#tab1" class="">Synopsis</a></li>
                    
                    
                </ul>

                <div id="tab1">
                    <div class="pan"><p>Court métrage de fiction qui projette dans toutes ses nuances la condition de <em>waitress</em>. Être fictif à qui 24 femmes prêtent leur visage, Françoise Durocher possède à la fois les traits de la petite serveuse, de l'hôtesse et de la barmaid. Ensemble, elles donnent, selon l'auteur, une idée de la fille de table québécoise qui, tous les jours, vous sert avec le sourire malgré les ennuis inhérents à son métier et les petits drames à peu près quotidiens qu’elle affronte. Ce film est la première expérience cinématographique du tandem Brassard-Tremblay.</p></div>
                </div>

                

                
            </div>
        </div>

        


        <div class="bin related-bin clearfix">
        
            <h2>Vous aimerez<br>aussi :</h2>
                <div class="_vignette-carousel">

                    <a class="prev" href="#"></a>
            
                











<div id="film_l_age_de_la_machine" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            <img class="entry-avail" alt="Disponible en téléchargement" title="Disponible en téléchargement" height="18" width="15" src="http://media6.onf.ca/medias/nfb_tube_static/styles/imgs/ico-avail-dwnld.png" />
            
            
            
        </div>
        
        <a href="/film/l_age_de_la_machine" title="Visionnez L'âge de la machine" lang="fr">

            <img width="204" height="115" alt="L'âge de la machine" class="visual" src="http://media5.onf.ca/medias/nfb_tube/thumbs_small/2013/L-age-de-la-machine_4493_SM.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="format-icons">
        
        



        </div>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez L'âge de la machine" href="/film/l_age_de_la_machine">L'âge de la machine</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_cher_theo" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            
            
            
        </div>
        
        <a href="/film/cher_theo" title="Visionnez Cher Théo" lang="fr">

            <img width="204" height="115" alt="Cher Théo" class="visual" src="http://media6.onf.ca/medias/nfb_tube/thumbs_small/2013/Cher-Theo_SM.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="format-icons">
        
        



        </div>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Cher Théo" href="/film/cher_theo">Cher Théo</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_par_une_belle_nuit_dhiver" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            <img class="entry-avail" alt="Disponible en téléchargement" title="Disponible en téléchargement" height="18" width="15" src="http://media6.onf.ca/medias/nfb_tube_static/styles/imgs/ico-avail-dwnld.png" />
            
            
            
        </div>
        
        <div class="wrng"><a class="rating-warning" title="Ce film traite d'un sujet controversé. Pour un public averti" name="Warning">2</a></div>
        
        <a href="/film/par_une_belle_nuit_dhiver" title="Visionnez Par une belle nuit d'hiver " lang="fr">

            <img width="204" height="115" alt="Par une belle nuit d'hiver " class="visual" src="http://media5.onf.ca/medias/nfb_tube/thumbs_small/2009/Par-une-belle-nuit-dhiver-tv-small.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Par une belle nuit d'hiver " href="/film/par_une_belle_nuit_dhiver">Par une belle nuit d'hiver </a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_chat_dans_le_sac" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            <img class="entry-avail" alt="Disponible en téléchargement" title="Disponible en téléchargement" height="18" width="15" src="http://media6.onf.ca/medias/nfb_tube_static/styles/imgs/ico-avail-dwnld.png" />
            
            
            
        </div>
        
        <a href="/film/chat_dans_le_sac" title="Visionnez Le chat dans le sac" lang="fr">

            <img width="204" height="115" alt="Le chat dans le sac" class="visual" src="http://media5.onf.ca/medias/nfb_tube/thumbs_small/2012/Le-chat-dans-le-sac_SM.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="format-icons">
        
        



        </div>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Le chat dans le sac" href="/film/chat_dans_le_sac">Le chat dans le sac</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_vie_heureuse_de_leopold_z" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            <img class="entry-avail" alt="Disponible en téléchargement" title="Disponible en téléchargement" height="18" width="15" src="http://media6.onf.ca/medias/nfb_tube_static/styles/imgs/ico-avail-dwnld.png" />
            
            
            
        </div>
        
        <a href="/film/vie_heureuse_de_leopold_z" title="Visionnez La vie heureuse de Léopold Z" lang="fr">

            <img width="204" height="115" alt="La vie heureuse de Léopold Z" class="visual" src="http://media5.onf.ca/medias/nfb_tube/thumbs_small/2012/La-vie-heureuse-de-Leopold-Z_308_SM.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="format-icons">
        
        



        </div>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez La vie heureuse de Léopold Z" href="/film/vie_heureuse_de_leopold_z">La vie heureuse de Léopold Z</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_ca_nest_pas_le_temps_des_romans1" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            
            
            
        </div>
        
        <a href="/film/ca_nest_pas_le_temps_des_romans1" title="Visionnez Ça n'est pas le temps des romans " lang="fr">

            <img width="204" height="115" alt="Ça n'est pas le temps des romans " class="visual" src="http://media6.onf.ca/medias/nfb_tube/thumbs_small/2009/CNPLTDR-tv-small.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Ça n'est pas le temps des romans " href="/film/ca_nest_pas_le_temps_des_romans1">Ça n'est pas le temps des romans </a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_mains_nettes" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            
            
            
        </div>
        
        <a href="/film/mains_nettes" title="Visionnez Les mains nettes" lang="fr">

            <img width="204" height="115" alt="Les mains nettes" class="visual" src="http://media6.onf.ca/medias/nfb_tube/thumbs_small/2009/Les-mains-nettes-tv-small.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Les mains nettes" href="/film/mains_nettes">Les mains nettes</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_night_cap" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            <img class="entry-avail" alt="Disponible en téléchargement" title="Disponible en téléchargement" height="18" width="15" src="http://media6.onf.ca/medias/nfb_tube_static/styles/imgs/ico-avail-dwnld.png" />
            
            
            
        </div>
        
        <a href="/film/night_cap" title="Visionnez Night Cap " lang="fr">

            <img width="204" height="115" alt="Night Cap " class="visual" src="http://media5.onf.ca/medias/nfb_tube/thumbs_small/2009/Night-Cap-tv-small.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Night Cap " href="/film/night_cap">Night Cap </a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_tout_l_or_du_monde" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            
            
            
        </div>
        
        <a href="/film/tout_l_or_du_monde" title="Visionnez Tout l'or du monde" lang="fr">

            <img width="204" height="115" alt="Tout l'or du monde" class="visual" src="http://media6.onf.ca/medias/nfb_tube/thumbs_small/2011/Tout-lor-du-monde_tv-small_.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Tout l'or du monde" href="/film/tout_l_or_du_monde">Tout l'or du monde</a></h3>
        </div>

     </div>
</div>





            
                











<div id="film_taureau" class="vignette exo-fr">
    <div class="inner">
        <div class="meta">
            
            
            
        </div>
        
        <div class="wrng"><a class="rating-warning" title="Ce film traite d'un sujet controversé. Pour un public averti" name="Warning">2</a></div>
        
        <a href="/film/taureau" title="Visionnez Taureau" lang="fr">

            <img width="204" height="115" alt="Taureau" class="visual" src="http://media6.onf.ca/medias/nfb_tube/thumbs_small/2012/Taureau_74_SM.jpg" />
            <span class="grosplay p-overlay" style="opacity: 0.6;">&nbsp;</span>
        </a>
        
        <div class="format-icons">
        
        



        </div>
        
        <div class="infos">
            <h3 class="title film" lang="fr"><a title="Visionnez Taureau" href="/film/taureau">Taureau</a></h3>
        </div>

     </div>
</div>





            
                    <a class="next" href="#"></a>
                </div>
        
        </div>


        <div class="bin comment-bin">
            <h2>Commentaires</h2>
            

            

            
               
                 <div class="comment-form">
                    

                    
                     <img src="http://media3.onf.ca/medias/nfb_tube_static/styles/i/default-avatar.jpg" class="photo" alt="" width="54" height="54" />
                     
                         <div class="bubble">
                             <p class="msg"><strong>Discussion</strong>
                         
                                 
                                     Veuillez vous <a href="/membre/connexion/?next=/film/francoise_durocher_waitress/" id="modal-login2">connecter</a> pour ajouter votre commentaire
                                 
                                <br />
                                <em>Vous n'êtes pas membre? <a id="modal-signup2" href="/membre/enregistrement/?next=/film/francoise_durocher_waitress/" >Cliquez ici</a></em>
                             </p>
                         
                         </div>
                     
                 </div>
               
            
        </div>
    </div>

    <div class="bin-group bin-group-c">
        <div class="bin full-credit-bin">
            


<div class="txt-pnl full_credit content">
    <h2>Générique du film</h2>


        
            <dl>
            
                <dt>réalisateur</dt>
                
                <dd>André Brassard</dd>
                
            
                <dt>scénario</dt>
                
                <dd>André Brassard</dd>
                
            
                <dt>montage</dt>
                
                <dd>André Brassard</dd>
                
            
                <dt>producteur</dt>
                
                <dd>Pierre Duceppe</dd>
                
                <dd>Jean-Marc Garand</dd>
                
            
                <dt>texte</dt>
                
                <dd>Michel Tremblay</dd>
                
            
                <dt>images</dt>
                
                <dd>Thomas Vamos</dd>
                
            
                <dt>son</dt>
                
                <dd>Jacques Drouin</dd>
                
            
                <dt>mixage</dt>
                
                <dd>Roger Lamoureux</dd>
                
            
                <dt>interprète</dt>
                
                <dd>Sophie Clément</dd>
                
                <dd>Frédérique Collin</dd>
                
                <dd>Louisette Dussault</dd>
                
                <dd>Odette Gagnon</dd>
                
                <dd>Luce Guilbeault</dd>
                
                <dd>Rita Lafontaine</dd>
                
                <dd>Hélène Loiselle</dd>
                
                <dd>Monique Mercure</dd>
                
                <dd>Katerine Mousseau</dd>
                
                <dd>Christine Olivier</dd>
                
                <dd>Denise Proulx</dd>
                
                <dd>Michelle Rossignol</dd>
                
                <dd>Véronique Le Flaguais</dd>
                
                <dd>Angèle Coutu</dd>
                
                <dd>Amulette Garneau</dd>
                
            
            </dl>
        


</div>

        </div>
        <div class="bin extras-bin">
            
            <h2>Trouvez des films semblables</h2>
            <ul>
                <li>Autres films de 
                    
                    
                        
                            <a href="/explorer-tous-les-cineastes/andre-brassard">André Brassard</a>
                        
                    
                </li>
            </ul>
            
        </div>
    </div>
</div>
<script src="/medias/nfb_tube_static/js/angular.min.js">
</script>
<script src="/medias/nfb_tube_static/js/film/film_page.js">
</script>



        
    </div>

    <div class="board-footer top-wraper" role="contentinfo">
    
        



<!-- FOOTER v2.0 --><!-- FOOTER v2.0 --><!-- FOOTER v2.0 -->
<!-- FOOTER v2.0 --><!-- FOOTER v2.0 --><!-- FOOTER v2.0 -->

<div class="site-footer clear">
    <div class="foot-nav">
        <ul class="prime">
            <li><a href="/explorer-tous-les-films/" title="Explorez tous les films">Nos films</a></li>
            <li><a href="/apps/" title="Applications">Applications</a></li>

            <li><a href="/abonnement/">Infolettres</a></li>
            <li><a href="/a-propos/" title="À propos de ONF.ca">À propos de</a></li>
            <li><a href="/plan-du-site/" title="Plan du site" accesskey="3">Plan du site</a></li>
        </ul>

        <ul class="brand-nav">
            <li class="sub-brand inv-brand-blog"><a href="http://blogue.onf.ca/">ONF/<b class="sub">blogue</b></a></li>
            <li class="sub-brand inv-brand-distribution"><a href="http://www.onf.ca/distribution/" rel="nofollow">ONF/<b class="sub">distribution</b></a></li>
            <li class="sub-brand inv-brand-education"><a href="/education/fr/" title="Éducation ONF">ONF/<b class="sub">éducation</b></a></li>
            <li class="sub-brand inv-brand-images"><a href="http://images.onf.ca">ONF/<b class="sub">images</b></a></li>
        </ul>

        <ul class="low-nav">
            <li><a href="http://www.onf-nfb.gc.ca/" title="Site institutionnel" target="_blank">Site institutionnel</a></li>
            <li><a href="http://www.onf-nfb.gc.ca/fra/realiser-coproduire/">Ressources pour cinéastes</a></li>
            <li><a href="http://www.onf-nfb.gc.ca/fra/emplois/">Emplois</a></li>
            <li><a href="/a-propos/faq/" title="Aide">Aide?</a></li>
            <li><a href="/a-propos/contactez-nous/" title="Contactez-nous" id="contact_us_link">Contactez-nous</a></li>
            <li><a href="/a-propos/avis-importants/" title="Avis importants, y compris Avis de confidentialité, Avis concernant les langues officielles, Droits d'auteur ou de copie, Copie non commerciale, Copie commerciale, Documents d'une tierce partie et Fournisseurs de services externes.">Avis importants</a></li>
            <li><a href="/desabonnement/" title="Désabonnement aux services en ligne d'ONF.ca">Désabonnement</a></li>
            <li><a href="http://www.onf-nfb.gc.ca/fra/nouvelles/" title="Salle de presse">Salle de presse</a></li>
        
            <li><a href="http://www.nfb.ca/film/francoise_durocher_waitress/" lang="en" title="English site">English site</a></li>
        
        </ul>
    </div>
    <ul class="socials">
        <li><a class="bouton bouton-square twitter-btn mono" href="http://www.twitter.com/onf/" title="Suivez l’ONF sur Twitter"><i></i></a></li>
        <li><a class="bouton bouton-square facebook-btn mono" href="http://www.facebook.com/onf.ca" title="Suivez l’ONF sur Facebook"><i></i></a></li>
        <li><a class="bouton bouton-square youtube-btn mono" href="http://www.youtube.com/onf" title="Suivez l’ONF sur YouTube"><i></i></a></li>
    </ul>

    <object class="signature" data="http://media2.onf.ca/medias/nfb_tube_static/medias/images/NFB-ONF_corpo.svg" type="image/svg+xml"  width="243px" height="48px" >
        <a href="/" title="Office national du film du Canada"><img src="http://media1.onf.ca/medias/nfb_tube_static/medias/images/NFB-ONF_corpo.png" class="ie-png onfb-corpo-logo" alt="Office national du film du Canada" width="243px" height="48px" /></a>
    </object>





</div>

<!-- fin footer -->





    
    </div>

</div>



<script type="text/javascript" src="http://media6.onf.ca/medias/nfb_tube_static/js/jquery-1.6.2.min.js"></script>


<script type="text/javascript" src="http://www.onf.ca/ressource_cache/js/jscache_2013-04-05_7868baa4dc80e46b4df6828279215892"></script>




    
    <!-- Copyright 2004-2006 Unica Corporation.  All rights reserved. -->
    <script type="text/javascript" >
    var ntpg_lg = 'fr';
    var ntpg_app = "films";
    
        
        var NTPT_PGEXTRA = '';
    
    </script>
    <script type="text/javascript" src="http://media5.onf.ca/medias/nfb_tube_static/js/stats/js/ntpagetag.min.js"></script>
    





<script type="text/javascript">
// <![CDATA[
// début de JQuery Ready

jQuery(document).ready(function() {
    if(jQuery.browser=="msie" && jQuery.browser.version.substr(0,1)=="6"){
           jQuery('#ie6drop').hover(
                function(){
                    jQuery(this).children('.d-panel').show();
                    },
                function(){
                    jQuery(this).children('.d-panel').hide();
                    }
             );
         };

    /*Film rating warning tooltip */
    var rating_warning = jQuery('a.rating-warning');
    if (rating_warning.length) rating_warning.tooltip({delay: 500, top: 5, left: 0});
        jQuery.each(jQuery(".drop-menu"), function(i, val) {
          if(i=="msie" && jQuery.browser.version.substr(0,1)=="6")
             jQuery('.site-nav > ul > li.mnie').hover(
                function(){
                    jQuery(this).children('a').css({backgroundImage:"url(http://media4.onf.ca/medias/nfb_tube_static/styles/imgs/site-nav-btn-bkg.gif)", backgroundPosition:"100% 50%"});
                    jQuery(this).children('a').children('em').css({backgroundImage:"url(http://media3.onf.ca/medias/nfb_tube_static/styles/imgs/site-nav-btn-bkg.gif)", backgroundPosition:"0% 50%"});
                    },
                function(){
                    jQuery(this).children('a').css('background-image', 'none');
                    jQuery(this).children('a').children('em').css('background-image', 'none');
                    }
             );
        });

//Message bar v 0.1
    jQuery("#ibx-switch").toggle(function(){
            jQuery("#ibx").show("fast");
            jQuery(this).find("img").attr("src", "http://media2.onf.ca/medias/nfb_tube_static/styles/imgs/arrow-blk-r.png");
        },function(){
            jQuery("#ibx").hide("fast");
            jQuery(this).find("img").attr("src", "http://media1.onf.ca/medias/nfb_tube_static/styles/imgs/arrow-blk-l.png");
    });
    jQuery(".close-msg").click(function(){
        jQuery(this).closest(".message-bar").fadeOut("normal");
    });

    

    $("#share-panel").click(function(){
        $(".share-options").slideToggle("slow");
    });

    $('#tabs > div').hide();
    $('#tabs div:first').show();
    $('#tabs ul li:first').addClass('active');

    $('#tabs ul li a').click(function(){
        $('#tabs ul li').removeClass('active');
        $(this).parent().addClass('active');
        var currentTab = $(this).attr('href');
        $('#tabs > div').hide();
        $(currentTab).show();
        return false;
    });

    

    $("#modal-add-to-playlist").click(function(elem){
        elem.preventDefault();
        $("#modal-add-to-playlist").modalFormSubmitJSON({href:"/partial/playlist/film/add/" + $(this).data("source-id")});
    });




// fin de JQuery Ready
});
// ]]>

    
    
</script>

<script type="text/javascript" src="http://use.typekit.com/zek5nek.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<script type="text/javascript">
    $(function() {


        $('#couchMode').click(function(e) {
            e.preventDefault();

            $('#iframePlayer').slideDown(0,function() {
                $('#iframePlayer').attr('src','player.html');
            });
            $('body').animate({
                'scrollTop' : 0
            },0);
        });

    });

</script>


<!-- Copyright 2004-2006 Unica Corporation.  All rights reserved. -->
<noscript>
    <div><img src="http://stats.nfb.ca/ntpagetag.gif?js=0&amp;ntpg_lg=fr" height="1" width="1" alt=" " /></div>
</noscript>



<!--
   _____
  / ___ \
 / / _ \ \
 \ \(_)/ /
  \_   _/
   |   |   Equipe web ONF /
   |_|_|   NFB web team  / 2008-2012
   =====   The Board - NFB.CA v3
-->
</body>
</html>
